.heading
{
    font-size:50px;
    font-weight:600;
    font-family:'Amaranth', sans-serif;
    text-align: center;
}
.projectContainer
{
    height: 100vh;
    padding-top: 65px;
}
.projectsContainer
{
    width:100%;
    height:100vh;
    text-align:center;
    padding:10px;
    display:flex;
    flex-direction:row;
    gap:20px;
    margin-top: -80px;
}
.projectsContainer > div
{
    font-family:'Amaranth', sans-serif;
    text-align: justify;
    width: 40%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 79%;
    border-radius: 8px;
    padding: 5px;
}

.projectTitle
{
    font-size:20px;
    font-weight:600;
    font-family:'Amaranth', sans-serif;
}
.Repobtn
{
    background-color: #1363DF;
    padding: 10px;
    border-radius: 8px;
    margin: auto;
    color: beige;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Btncontainer
{
    display: flex;
    flex-direction: row;
    padding: 10px 60px 10px 60px;
    justify-content: space-between;
}
@media all and (max-width:500px) and (min-width:200px)
{
   
    .Btncontainer
    {
        padding: 40px 10px 10px 10px;
        justify-content: space-between;
        font-size: 11px;
    }
    .projectsContainer
    {
        gap: 0px;
        flex-direction:row;
    }
    .ProjectContent
    {
        font-size: 15px;
    }
}