.heading
{
    font-size:50px;
    font-weight:600;
    font-family:'Amaranth', sans-serif;
    text-align: center;
}
.projectContainer
{
    height: 300vh;
    padding-top: 80px;
}
.projectsContainer
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:80px;
    padding: 20px 80px;
    
}
.projectsContainer > div
{
    font-family:'Amaranth', sans-serif;
    text-align: justify;
   
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 95%;
    border-radius: 8px;
    padding: 5px;
}
.projectsContainer > div >img
{
    height: 60%;
}

.projectTitle
{
    font-size:20px;
    font-weight:600;
    font-family:'Amaranth', sans-serif;
}
.Repobtn
{
    background-color: #1363DF;
    padding: 10px;
    border-radius: 8px;
    color: beige;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Btncontainer
{
    display: flex;
    flex-direction: row;
    padding: 10px 60px 10px 60px;
    justify-content: space-between;
}
@media all and (max-width:500px) and (min-width:200px)
{
   
    .Btncontainer
    {
        padding: 40px 10px 10px 10px;
        justify-content: space-between;
        font-size: 11px;
        margin-top: -10px;
    }
    .projectsContainer
    {
        
        grid-template-columns: repeat(1,1fr);
        gap:25px;
        padding: 25px;
    }
    
    .projectContainer
    {
        
        height: 420vh;
        padding-top: 70px
    }
    .projectsContainer > div
    {
        width: 90%;
        margin: auto;
    }
    .projectsContainer > div >img
    {
        height: 45%;
    }

    .ProjectContent
    {
        font-size: 13px;
    }
}